.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mugs10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.background-menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mugsmenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.background button {
  background: none;
  color: rgba(255, 255, 255, 0.9);
  border: 4px solid white;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  width: 200px;
  height: 80px;
  font-size: 32px;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.2s;
}

.background button:hover {
  background-color: rgba(241, 231, 241, 0.82);
  transform: scale(1.1);
  color: black;
}

.background img {
  width: 200px;
  height: 200px;
}

.background h1 {
  color: rgba(241, 231, 241, 0.9) !important;
  font-size: 84px;
}

.about {
  background-color: rgba(24, 30, 33, 255);
  height: 50vh;
}

.about p {
  font-size: 28px;
  color: white;
  font-weight: bold;
  padding: 8px;
}

.about span {
  font-size: 18px;
}

.coffee-container {
  background-color: rgba(218, 216, 211, 255);
  height: 50vh;
  position: relative;
}

.coffee-container p {
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
}

.coffee-photos h1 {
  font-size: 28px;
  font-weight: bold;
}

.coffee-photos img {
  width: 250px;
  height: 250px;
  margin: 10px;
}

.review-container {
  background-color: rgba(24, 30, 33, 255);
  height: 50vh;
  position: relative;
}

.review-container p {
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  padding: 5px;
}

.review-container p span {
  font-size: 18px;
}

footer {
  height: 20vh;
  background-color: black;
}

footer ul.info li {
  list-style-type: none;
  color: white;
  font-size: 16px;
  text-align: left;
  line-height: 1.8;
}

.oliver strong {
  font-size: 28px;
}

.oliver p {
  font-size: 20px;
  padding: 15px;
}

.oliver img {
  width: 300px;
  height: 250px;
  margin: auto;
}
/* Snack.js */

.snack-header h1 {
  font-size: 28px;
  font-weight: bold;
}
.snack-div > div {
  text-align: left;
  padding-left: 10px;
}

.snack-div * div > h2 {
  font-weight: bold;
  font-size: 24px;
}

.snack-div * div > h3 {
  font-style: italic;
  margin-right: 15px;
  font-size: 24px;
}

.snack-div * p {
  font-size: 18px;
  padding: 5px;
}

.snack-div button {
  background-color: rgba(24, 30, 33, 255);
  padding: 10px !important;
}

.snack-div button:active,
.snack-div button:focus,
.snack-div button:hover,
.snack-div button,
/* Info.js coffee-photos div inserted to save space */
.coffee-photos button:active,
.coffee-photos button:focus,
.coffee-photos button:hover,
.coffee-photos button {
  background-color: rgba(24, 30, 33, 255) !important;
  padding: 10px !important;
}

@media screen and (max-width: 555px) {
  .background img {
    width: 100px;
    height: 100px;
  }

  .background h1 {
    color: rgba(241, 231, 241, 0.82);
    font-size: 52px;
  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 683px) and (max-width: 1024px) {
  nav a {
    display: none;
  }

  .about p {
    font-size: 40px;
  }

  .snack-header h1 {
    font-size: 36px;
  }

  .snack-div * div > h2 {
    font-size: 32px;
  }

  .snack-div * div > h3 {
    font-size: 28px;
  }

  .snack-div * p {
    font-size: 24px;
    padding: 5px;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 15px !important;
    font-size: 24px;
  }

  .coffee-container p {
    font-size: 38px;
    padding: 10px;
  }

  .coffee-photos {
    flex-direction: row !important;
  }

  .coffee-photos h1 {
    font-size: 38px;
  }

  .coffee-photos img {
    width: 300px;
    height: 300px;
  }

  .photos {
    margin-top: 15px;
  }

  .review-container p {
    font-size: 32px;
  }

  .review-container p span {
    font-size: 28px;
    font-style: italic;
  }

  .oliver strong {
    font-size: 38px;
  }

  .oliver img {
    width: 400px;
    height: 350px;
  }

  .oliver em {
    font-size: 20px;
  }

  .oliver p {
    font-size: 24px;
  }

  footer ul.info li {
    font-size: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1299px) {
  nav[role="navigation"] {
    display: none;
  }

  .about {
    display: flex;
    justify-content: center;
  }

  .about p {
    font-size: 45px;
    text-align: center;
  }

  .snack-header h1 {
    font-size: 48px;
  }
  .snack-div {
    padding: 25px;
  }

  .snack-div * div > h2 {
    font-size: 42px;
  }

  .snack-div * div > h3 {
    font-size: 36px;
  }

  .snack-div * p {
    font-size: 32px;
    padding: 5px;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 15px !important;
    font-size: 26px;
  }

  .coffee-container p {
    font-size: 45px;
    padding: 10px;
  }

  .coffee-photos h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .coffee-photos img {
    width: 375px;
    height: 375px;
  }

  .review-container p {
    font-size: 38px;
    padding: 10px;
  }

  .review-container p span {
    font-size: 30px;
  }

  .oliver strong {
    font-size: 42px;
  }

  .oliver img {
    width: 450px;
    height: 375px;
  }

  .oliver em {
    font-size: 24px;
  }

  .oliver p {
    font-size: 28px;
  }

}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  nav[role="navigation"] {
    display: none;
  }

  .about {
    display: flex;
    justify-content: center;
  }

  .about p {
    font-size: 50px;
    text-align: center;
  }

  .snack-header h1 {
    font-size: 55px;
  }
  .snack-div {
    padding: 75px;
  }

  .snack-div * div > h2 {
    font-size: 48px;
  }

  .snack-div * div > h3 {
    font-size: 40px;
  }

  .snack-div * p {
    font-size: 36px;
    padding: 5px;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 18px !important;
    font-size: 28px;
    margin-top: 25px !important;
  }

  .coffee-container p {
    font-size: 45px;
    padding: 10px;
  }

  .coffee-photos h1 {
    font-size: 42px;
    margin-bottom: 25px;
  }

  .coffee-photos img {
    width: 425px;
    height: 425px;
  }

  .review-container p {
    font-size: 40px;
    padding: 15px;
  }

  .review-container p span {
    font-size: 36px;
  }

  .oliver strong {
    font-size: 48px;
  }

  .oliver img {
    width: 475px;
    height: 400px;
  }

  .oliver em {
    font-size: 24px;
  }

  .oliver p {
    font-size: 30px;
  }

}

@media screen and (min-width: 1501px) {
  nav[role="navigation"] {
    display: none;
  }

  .about {
    display: flex;
    justify-content: center;
  }

  .about p {
    font-size: 60px;
    text-align: center;
  }

  .snack-header h1 {
    font-size: 55px;
  }
  .snack-div {
    padding: 85px;
  }

  .snack-div * div > h2 {
    font-size: 48px;
  }

  .snack-div * div > h3 {
    font-size: 40px;
  }

  .snack-div * p {
    font-size: 36px;
    padding: 5px;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 18px !important;
    font-size: 28px;
    margin-top: 25px !important;
  }

  .coffee-container p {
    font-size: 65px;
    padding: 55px;
  }

  .coffee-photos h1 {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .coffee-photos img {
    width: 475px;
    height: 475px;
  }

  .review-container p {
    font-size: 55px;
    padding: 55px;
  }

  .review-container p span {
    font-size: 38px;
  }

  .oliver strong {
    font-size: 52px;
  }

  .oliver img {
    width: 500px;
    height: 425px;
  }

  .oliver em {
    font-size: 26px;
  }

  .oliver p {
    font-size: 34px;
  }

}