.background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/mugs10.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  letter-spacing: 2px;
}

.background-menu {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mugsmenu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.background-events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mugsevents.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.background-contact {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/mugs7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  max-width: 100%;
  position: relative;
  overflow-x: hidden;
}

.background button {
  background: none;
  color: rgba(255, 255, 255, 0.9);
  border: 2px solid white;
  padding: 5px 10px;
  cursor: pointer;
  outline: inherit;
  width: 150px;
  font-size: 1.5em;
  margin: 0 auto;
  border-radius: 10px;
  transition: 0.2s;
  font-family: 'Cormorant Garamond', serif;
}

.background button:hover {
  background-color: rgba(241, 231, 241, 0.82);
  transform: scale(1.05);
  color: black;
}

.background img {
  width: 200px;
  height: 200px;
}

.background h1 {
  color: rgba(241, 231, 241, 0.9) !important;
  font-size: 64px;
  font-family: 'Oswald', sans-serif;
}

.about {
  background-color: #212121 ;
  /* height: 40vh; */
}

.about p {
  font-size: 28px;
  color: white;
  font-weight: bold;
  padding: 8px;
  font-family: 'Oswald', sans-serif;
}

.about span {
  font-size: 18px;
}

.coffee-container {
  background-color: rgba(205,160,67,255);
  position: relative;
}

.coffee-container p {
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  font-family: 'Oswald', sans-serif;
}

.coffee-photos h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}

.coffee-photos img {
  width: 250px;
  height: 250px;
  margin: 10px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.coffee-photos button a {
  color: white;
  text-decoration: none;
}

.review-container {
  background-color: #212121;
  position: relative;
}

.review-container p {
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  padding: 1em;
  font-family: 'Oswald', sans-serif;
}

.review-container p span {
  font-size: 18px;
}

footer {
  height: 20vh;
  background-color: #212121;
  font-family: 'Oswald', sans-serif;
}

footer ul.info li {
  list-style-type: none;
  color: white;
  font-size: 16px;
  text-align: left;
  line-height: 1.8;
}

.oliver strong {
  font-size: 28px;
  font-family: 'Oswald', sans-serif;
}

.oliver em {
  font-family: 'Cormorant Garamond', serif;
}

.oliver p {
  font-size: 20px;
  padding: 15px;
  font-family: 'Cormorant Garamond', serif;
}

.oliver img {
  width: 300px;
  height: 250px;
  margin: auto;
  border: 2px solid #212121;
  border-radius: 2px;
}
/* Snack.js */

.snack-header h1 {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
}
.snack-div > div {
  text-align: left;
  padding-left: 10px;
}

.snack-div * div > h2 {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.snack-div * div > h3 {
  font-style: italic;
  border-bottom: 1px dotted #212121;
  margin-right: 15px;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
}

.snack-div * p {
  font-size: 18px;
  padding: 5px;
  font-family: 'Cormorant Garamond', serif;
}

.snack-div button {
  background-color: #212121;
  padding: 10px !important;
  font-family: 'Cormorant Garamond', serif;
}

.snack-div button:active,
.snack-div button:focus,
.snack-div button:hover,
.snack-div button,
/* Info.js coffee-photos div inserted to save space */
.coffee-photos button:active,
.coffee-photos button:focus,
.coffee-photos button:hover,
.coffee-photos button {
  background-color: #212121 !important;
  padding: 15px !important;
  font-family: 'Cormorant Garamond', serif;
}

.snack-div button a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 555px) {
  .background {
    padding: 2em;
  }
  
  .background img {
    width: 100px;
    height: 100px;
  }

  .background h1 {
    color: rgba(241, 231, 241, 0.82);
    font-size: 36px;
    letter-spacing: normal;
  }

  .about p {
    margin: .5em 1.5em 1.5em 1.5em;
    font-size: 20px;
  }

  .coffee-container p {
    font-size: 20px;
    padding: 1em;
  }

  .review-container {

  }

  .nav-links {
    display: none;
  }
}

@media screen and (min-width: 683px) and (max-width: 1024px) {
  nav a {
    display: none;
  }

  .about p {
    font-size: 36px;
  }

  .snack-header h1 {
    font-size: 32px;
  }

  .snack-div * div > h2 {
    font-size: 28px;
  }

  .snack-div * div > h3 {
    font-size: 24px;
  }

  .snack-div * p {
    font-size: 22px;
    padding: 5px;
  }

  .snack-div {
    width: 75%;
    margin: auto;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 12px !important;
    font-size: 22px;
  }

  .coffee-container p {
    font-size: 36px;
    padding: 10px;
  }

  .coffee-photos {
    flex-direction: column;
  }

  .coffee-photos h1 {
    font-size: 38px;
  }

  .coffee-photos img {
    width: 250px;
    height: 250px;
  }

  .photos {
    margin-top: 15px;
  }

  .review-container p {
    font-size: 32px;
  }

  .review-container p span {
    font-size: 28px;
    font-style: italic;
  }

  .oliver strong {
    font-size: 38px;
  }

  .oliver img {
    width: 400px;
    height: 350px;
  }

  .oliver em {
    font-size: 20px;
  }

  .oliver p {
    font-size: 24px;
    padding: 0 75px 0 75px;
  }

  footer ul.info li {
    font-size: 20px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1299px) {
  /* nav[role="navigation"] {
    display: none;
  } */

  .about {
    display: flex;
    justify-content: center;
  }

  .about p {
    font-size: 42px;
    text-align: center;
  }

  .snack-header h1 {
    font-size: 42px;
  }
  .snack-div {
    width: 75%;
    margin: auto;
    padding-top: 25px;
  }

  .snack-div * div > h2 {
    font-size: 36px;
  }

  .snack-div * div > h3 {
    font-size: 28px;
  }

  .snack-div * p {
    font-size: 26px;
    padding: 5px;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 12px !important;
    font-size: 24px;
  }

  .coffee-container p {
    font-size: 42px;
    padding: 10px;
  }

  .coffee-photos h1 {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .coffee-photos img {
    width: 325px;
    height: 325px;
  }

  .review-container p {
    font-size: 38px;
    padding: 10px;
  }

  .review-container p span {
    font-size: 30px;
  }

  .oliver strong {
    font-size: 38px;
  }

  .oliver img {
    width: 450px;
    height: 375px;
  }

  .oliver em {
    font-size: 24px;
  }

  .oliver p {
    font-size: 26px;
    padding: 0 75px 0 75px;
  }

}

@media screen and (min-width: 1300px) and (max-width: 1500px) {
  /* nav[role="navigation"] {
    display: none;
  } */

  .about {
    display: flex;
    justify-content: center;
  }

  .about p {
    font-size: 45px;
    text-align: center;
  }

  .snack-header h1 {
    font-size: 45px;
  }
  .snack-div {
    padding: 75px;
  }

  .snack-div * div > h2 {
    font-size: 38px;
  }

  .snack-div * div > h3 {
    font-size: 32px;
  }

  .snack-div * p {
    font-size: 28px;
    padding: 5px;
  }

  .snack-div {
    width: 75%;
    margin: auto;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 16px !important;
    font-size: 24px;
    margin-top: 25px !important;
  }

  .coffee-container p {
    font-size: 45px;
    padding: 10px;
  }

  .coffee-photos h1 {
    font-size: 42px;
    margin-bottom: 25px;
  }

  .coffee-photos img {
    width: 400px;
    height: 400px;
  }

  .review-container p {
    font-size: 40px;
    padding: 15px;
  }

  .review-container p span {
    font-size: 36px;
  }

  .oliver strong {
    font-size: 42px;
  }

  .oliver img {
    width: 475px;
    height: 400px;
  }

  .oliver em {
    font-size: 24px;
  }

  .oliver p {
    font-size: 30px;
    padding: 0 75px 0 75px;
  }

}

@media screen and (min-width: 1501px) {
  /* nav[role="navigation"] {
    display: none;
  } */

  .about {
    display: flex;
    justify-content: center;
  }

  .about p {
    font-size: 52px;
    text-align: center;
  }

  .snack-header h1 {
    font-size: 52px;
  }
  .snack-div {
    padding: 100px;
    width: 75%;
    margin: auto;
  }

  .snack-div * div > h2 {
    font-size: 42px;
  }

  .snack-div * div > h3 {
    font-size: 38px;
  }

  .snack-div * p {
    font-size: 32px;
    padding: 5px;
  }

  .snack-div button:active,
  .snack-div button:focus,
  .snack-div button:hover,
  .snack-div button,
  /* Info.js coffee-photos div inserted to save space */
  .coffee-photos button:active,
  .coffee-photos button:focus,
  .coffee-photos button:hover,
  .coffee-photos button {
    background-color: rgba(24, 30, 33, 255) !important;
    padding: 16px !important;
    font-size: 24px;
    margin-top: 25px !important;
  }

  .coffee-container p {
    font-size: 52px;
    padding: 105px 50px 105px 50px
  }

  .coffee-photos h1 {
    font-size: 50px;
    margin-bottom: 25px;
  }

  .coffee-photos img {
    width: 400px;
    height: 400px;
  }

  .review-container p {
    font-size: 52px;
    padding: 65px;
  }

  .review-container p span {
    font-size: 38px;
  }

  .oliver strong {
    font-size: 52px;
  }

  .oliver img {
    width: 500px;
    height: 425px;
  }

  .oliver em {
    font-size: 26px;
  }

  .oliver p {
    font-size: 34px;
    padding: 0 100px 0 100px;
  }

}