.coffee-header h1,
.flavors-header h1,
.extras-header h1 {
  font-size: 42px;
  text-align: center;
  background-color: rgba(205,160,67,255);
  padding: 0;
  height: 10vh;
  color: white;
  font-family: 'Oswald', sans-serif;
}

.flavors-header,
.extras-header {
  padding: 0 !important;
}

.extras {
  padding-left: 0 !important;
}

.flavors-header p,
.extras-header p {
  text-align: center;
}

.menu-div {
  margin-bottom: 50px;
}

.menu-div > div {
  text-align: left;
  padding-left: 10px;
}

.menu-div * div > h2,
.extras > h2 {
  font-weight: bold;
  font-size: 24px;
  text-decoration: underline;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.menu-div * div > h3 {
  font-style: italic;
  margin-right: 15px;
  font-size: 24px;
}

.menu-div * p {
  font-size: 18px;
  padding: 5px;
  font-family: 'Cormorant Garamond', serif;
}

.size-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding-left: 0;
    font-family: 'Cormorant Garamond', serif;
}

.menu-div  li {
    font-size: 18px;
    padding: 3px;
}

@media screen and (max-width: 767px) {
  .coffee-header h1,
  .flavors-header h1,
  .extras-header h1 {
    width: 55%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 35px;
    border-radius: 10px;
    font-size: 32px;
  }

  .size-list {
    margin-top: 5px;
  }
  
  .size-list li {
    font-size: 22px !important;
  }
}

@media screen and (min-width: 768px) {
  .menu-responsive-tablet {
    display: flex;
    justify-content: space-evenly;
  }

  .menu-responsive-tablet > div {
    width: 275px;
    height: fit-content;
    margin-top: 50px !important;
  }

  .menu-responsive-tablet * h2 {
    font-size: 32px !important;
  }

  .menu-responsive-tablet > div * li {
    font-size: 24px;
  }

  .font-tablet h2{
    font-size: 28px !important;
  }

  .font-tablet * li {
    font-size: 22px !important;
  }

  .size-list li {
    font-size: 26px !important;
  }

  .coffee-header h1,
  .flavors-header h1,
  .extras-header h1 {
    width: 20%;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 45px;
    border-radius: 10px;
    font-size: 48px;
}

.extras-header p {
  font-size: 26px !important;
}

}