@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Oswald:wght@300&display=swap');

.navbar {
  justify-content: space-between;
  background-color: #212121 !important;
  height: 8vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.MuiButtonBase-root {
  padding: 0 !important;
}

.coffee-icon {
  width: 50px !important;
  height: 50px !important;
  margin-left: 25px;
  color: white;
}

.nav-links {
  padding: 5px;
  gap: 14px;
  list-style-type: none;
  margin-right: 25px;
  display: flex;
}

.nav-links a {
  font-size: 28px;
  padding: 0 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
}

.nav-links a:hover {
  color: white !important;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: white !important;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.nav-links a:hover:after {
  width: 100%;
}