@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Oswald:wght@300&display=swap');

.navbar {
  justify-content: space-between;
  background-color: #212121 ;
  height: 8vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.MuiButtonBase-root {
  padding: 0 !important;
}

.coffee-icon {
  width: 50px !important;
  height: 50px !important;
  margin-left: 25px;
  color: white;
}

.nav-links {
  padding: 5px;
  gap: 14px;
  list-style-type: none;
  margin-right: 25px;
  display: flex;
}

.nav-links a {
  font-size: 28px;
  padding: 0 8px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  position: relative;
}

.nav-links a:hover {
  color: white !important;
}

.nav-links a:after {
  content: "";
  position: absolute;
  background-color: white !important;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.2s;
}

.nav-links a:hover:after {
  width: 100%;
}

/* Hamburger CSS */
#menuToggle
{
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: tomato;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: black !important;
  border-radius: 3px;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(-132deg) translate(-18px, 22px);
  background: #212121;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-50deg) translate(5px, 16px);
  background-color: #212121;
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  border: 1px solid red;
  position: absolute;
  width: 100vw;
  height: 140vh;
  /* padding: 50px; */
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;

  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(0%, -0%);
  z-index: 1;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 555px) {
  #menu {
    display: none;
  }
}

@media screen and (min-width: 683px) and (max-width: 1024px) {
  nav a {
    display: none;
  }
}